<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto">
    <h2 class="mb-5">Research Areas</h2>
    <div class="subheading mb-3">Convolutional Neural Network</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
        MaskRCNN : Using Detectron2 for Instance Segmentation</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Video Object detection and object tracking</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        3d Object model and voxel mesh generation and synthetic data generation </li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Human Pose Estimation</li>
    </ul>
  </div>

</section>
