<div class="container-fluid p-0">
  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">Sujoy
          <span class="text-primary">Debnath</span>
        </h1>
        <div class="subheading mb-5">
          <i class="fa fa-home"></i> 8921 Elmhurst Avenue · Elmhurst, Queens · NY 11373 <br> 
          <i class="fa fa-phone-square"></i> <a href="tel:+19292849453"> (929)284-9453 </a> 
          <i class="fa fa-envelope"></i> <a href="mailto:sujoydebnath.92@gmail.com"> sujoydebnath.92@gmail.com</a>
        </div>
        <p class="lead mb-5">
          Creative and hardworking software developer having three years of experience in building RESTful web applictions, 
          data modeling and database management with excellent problem solving abilities and process-thinking skill
          seeking an opportunity that embraces creativity and innovation with collaborations with other teammates and
          eager to learn and contribute in new challenges.
        </p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/debnath-sujoy/">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/SujoyDU">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
  </section>
</div>